/* section, summary {
    display: block;
} */

h2 {
    font-size: 16px;
    font-size: 1.6rem;
    background: #363b4e;
    margin: 30px 0 10px;
    padding: 12px 10px 12px 15px;
    color: #fff;
    font-weight: 700;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #f1f6f7;
    border: 1px solid #e2e2e2;
    font-weight: 700;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #e2e2e2;
}